body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    font-family: 'Roboto Slab', serif;
}
.navbar .navbar-toggler ,.navbar .navbar-toggler:focus{
  box-shadow: none;
  border: none;
}
.navbar-nav .nav-item{
  font-family: sans-serif;
  font-size: large;
  padding: 0 5px;
  text-align: center;
} 
.navbar-nav .nav-item .nav-link:hover{
  color: orangered;
}
.navbar .navbar-nav .nav-item::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: lightblue;
  display: block;
  margin: auto;
  transition: .3s;
  border-radius: 10px;
}
.navbar .navbar-nav .nav-item:hover::after{
  width: 100%;
}
.dropdown:hover .dropdown-menu {display: block;}
.navbar-nav .dropdown-menu .dropdown-item{
  color: lightblue;
  font-size: large;
  font-family: sans-serif;
  text-align: center;
}





.section1{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(white , lightblue);
    font-family: 'Roboto Slab', serif;
}
.section1 .container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.col{
    min-width: 400px;
}
.col img{
    max-width: 500px;
    padding: 50px 0;
}
.col h3{
    font-size: 35px;
}
.col p{
    font-size: 20px;
}




.section2{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to top ,white , lightblue);
    font-family: 'Roboto Slab', serif;
}
.section2 .container{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.col{
    flex-basis: 50%;
    min-width: 400px;
}


.section3{
    min-height: 100%;
    width: 100%;
    background: url(Tracker-Robot-Img/Artboard\ 1.png) no-repeat center;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}
.section3 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 100px;
}
.section3 .nawand-text{
    margin-top: 100px;
}
.section3 .nawand-text h3{
    font-size: 35px;
}
.section3 .nawand-text p{
    font-size: 18px;
}
.section3 .nawand-text .center-btn{
    text-decoration: none;
    color: rgb(92, 214, 255);
    font-size: 25px;
}
@media only screen and (max-width: 768px) {
    .section3 .nawand-text{
        margin-top: 100px;
    }
}



.section4{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to top ,white , lightblue);
    font-family: 'Roboto Slab', serif;
}
.section4 .robots-header-text h3::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 20px auto;
  transition: .3s;
  border-radius: 10px;
}
.section4 .carousel-item .robot-names{
  text-align: center;
  color: #4A4A4B;
  font-weight: 500;
}
.section4 .carousel-item img{
  height: auto;
  width: 100%;
  cursor: pointer;
}
.section4 .pre , .section4 .nex {
  width: 40px;
  height: 40px;
  background: lightblue;
  opacity: 1;
  border-radius: 50%;
  top: calc(50% - 25px);
}



.section5{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom ,white , lightblue);
    font-family: 'Roboto Slab', serif;
}
.section5 .main-header{
    font-style: 32px;
}
.section5 .main-header h3::after{
  content: '';
  width: 83%;
  height: 2px;
  background-color: lightblue;
  display: block;
  margin: 20px auto;
  transition: .3s;
  border-radius: 10px;
}
.section5 .conatiner .card{
    background-color: transparent !important;
    border: none;
    margin-top: 30px;
    height: 100%;
}
.section5 .card form{
    margin-top: 50px;
}
.section5 .img-contain{
  padding: 15px;
}
.section5 .img-contain img{
  border-radius: 5px;
}
.section5 .card .card-body , .section5 .img-contain img{
    height: 100%;
}
.section5 .card .card-body input , textarea{
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px
}
.section5 .card .card-body button{
    border-radius: 5px;
    background: white;
    width: 100%;
    border: 1px solid lightblue;
    color: lightblue;
}



.site-footer
{
  background-color:lightblue;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  color: #000000;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(0, 0, 0);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#ffffff;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#ffffff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#000000;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#ffffff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#ffffff
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}